<!DOCTYPE html>
<html lang="en">

<head>
  <title>RIMA Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/tachyons.min.css') }}">
</head>

<body class="w-100 sans-serif">
  {% include 'partials/header.html' %}
  <h1 class="b--black-10 mw8 center pt2">Current jobs</h1>
  <div class="b--black-10 mw8 center pt2">
    {% for job in jobs %}
      {{ job }}
    {% endfor %}
  </div>

  {% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script> {% endassets %}
</body>

</html>