<!DOCTYPE html>
<html lang="en">

<head>
  <title>RIMA Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/tachyons.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/all.min.css') }}" >

</head>

<body class="w-100 sans-serif">
  {% include 'partials/header.html' %}
  <div class="b--black-10 mw8 center pt2">
      <h2 class="b--black-10 mw8 center pt2 h6">Results - COPD</h2>
      {% include 'result.html' %}
  </div>

  <h1 class="b--black-10 mw8 center pt2">Jobs in Queue</h1>
  <div class="b--black-10 mw8 center pt2">
    {% if work_items %}
      {% include 'queue.html' %}
    {% else %}
    <span>No jobs at the moment...</span>
    {% endif %}
    {% for work in worklist %}
      {{work}}
    {% endfor%}
  </div>

  {% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script> {% endassets %}
</body>

</html>